.App{
  text-align: center;
}

.app_form{
  padding: 20px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
  background-color: lightgray;
  width: 100%;
  margin: 20px;

}

/* Material Icon の設定が優先されるため、書き換え＋Importantが必要 */
.app_formControl{
  display: flex !important;
  flex-direction: row !important;
}

.app_input {
  flex:1;
}

.app_iconButton {
  flex: 0;
}