.message_card{
    padding: 10px;
    margin: 10px;
    width: fit-content;

}

.message_user{
    margin-left: auto;
    color: white;
    text-align: right !important;
}

.message_userCard{
    background-color:lightblue !important;
}

.message_guestCard{
    background-color: rgb(233, 227, 227) !important;
}

.message_userName{
    text-align: left;
    font-weight: 800;
    padding-left: 0.1rem;
}

.message_date{
    font-size: small;
}

.mesage_text{
    text-align: left;
}